/* colors */
$body-bgc-color: hsl(0, 0%, 94%);
$app-bgc-color: hsl(0, 0%, 100%);
$border-color: hsl(0, 0%, 86%);
$error: hsl(0, 100%, 67%);
$purple: hsl(259, 100%, 65%);
$dark-blue: hsl(228, 45%, 44%);
$light-gray: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);
