@use "./abstaracts/colors";

.data-display-wrapper {
  .single-line {
    .displayed-value {
      margin-right: 0.2em;
      color: colors.$purple;
    }
    .time,
    .displayed-value {
      font-weight: bold;
      font-style: italic;
      font-size: 32px;
    }
  }
}
