:root {
  /* colors */
  --body-bgc-color: hsl(0, 0%, 94%);
  --app-bgc-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 86%);
  --error: hsl(0, 100%, 67%);
  --purple: hsl(259, 100%, 65%);
  --dark-blue: hsl(228, 45%, 44%);
  --light-gray: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  /* fonts */
  --font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--body-bgc-color);
}

*:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.block {
  display: block;
}

.app-wrapper {
  margin: 17em auto 0;
  padding: 2em 1em;
  width: 85%;
  max-width: 400px;
  background-color: var(--app-bgc-color);
  border-radius: 10px 10px 45px 10px;
}

.inputs-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.input-el {
  margin: 0.5em 0 0.2em;
  padding: 1em;
  max-width: 60px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  appearance: none;
  display: block;
}

.input-el.error {
  appearance: none;
  color: var(--light-gray);
  border: 1px solid var(--error);
}

.input-el:focus {
  border: 1px solid var(--purple);
}

.label-el {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: var(--light-gray);
  cursor: pointer;
}

[placeholder] {
  font-weight: bold;
  color: var(--light-gray);
}

.spacer-line {
  position: relative;
  height: 1px;
  background-color: var(--border-color);
  margin: 3em auto 3em;
}

.btn-submit {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--purple);
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.btn-submit:hover {
  background-color: var(--off-black);
}

.btn-submit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.displayed-value {
  margin-right: 0.2em;
  color: var(--purple);
}

.time,
.displayed-value {
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
}

.error {
  color: var(--error);
  display: block;
}

.error-msg {
  font-size: 8px;
  height: 10px;
}

.attribution {
  margin: 2em auto 0;
  font-size: 11px;
  text-align: center;
}
.attribution .link {
  color: var(--dark-blue);
}

@media screen and (min-width: 1200px) {
  .app-wrapper {
    padding: 3em 2em;
  }
  .inputs-wrapper {
    max-width: 350px;
  }
  .btn-submit {
    left: 90%;
  }
}
