/* :root{

--purple: hsl(259, 100%, 65%)
--light-red: hsl(0, 100%, 67%)
--white: hsl(0, 0%, 100%)
--off-white: hsl(0, 0%, 94%)
--light-grey: hsl(0, 0%, 86%)
--smokey-grey: hsl(0, 1%, 44%)
--off-lack: hsl(0, 0%, 8%)
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 86%);
}

*:focus {
  outline: none;
}

.app-wrapper {
  margin: 0 auto;
  padding: 2em 1em;
  width: 85%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px 10px 45px 10px;
}
.inputs-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-el {
  margin: 0.5em 0 1em;
  padding: 1em;
  max-width: 60px;
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 86%);
}

.label-el {
  text-transform: uppercase;
  font-weight: bold;
  color: hsl(0, 1%, 44%);
}

.input-el {
  appearance: none;
}

.input-el:focus {
  border: 1px solid hsl(259, 100%, 65%);
}

.block {
  display: block;
}

[placeholder] {
  font-weight: bold;
}

.disaplyed-value {
  margin-right: 0.2em;
  color: hsl(259, 100%, 65%);
}

.time,
.disaplyed-value {
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
}
