body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 94%);
}

*:focus {
  outline: none;
}

.container {
  height: 100vh;
}

.app-wrapper {
  margin: 15em auto 0;
  padding: 2em 1em;
  width: 85%;
  max-width: 400px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px 10px 45px 10px;
}
.inputs-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.input-el {
  margin: 0.5em 0 0.2em;
  padding: 1em;
  max-width: 60px;
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 86%);
  appearance: none;
}

.label-el {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: hsl(0, 1%, 44%);
  cursor: pointer;
}

.input-el.error {
  appearance: none;
  color: hsl(0, 1%, 44%);
  border: 1px solid hsl(0, 100%, 67%);
}

.input-el:focus {
  border: 1px solid hsl(259, 100%, 65%);
}

.block {
  display: block;
}

[placeholder] {
  font-weight: bold;
  color: hsl(0, 1%, 44%);
}

.spacer-line {
  height: 1px;
  background-color: hsl(0, 0%, 86%);
  margin: 1em auto;
}

.disaplyed-value {
  margin-right: 0.2em;
  color: hsl(259, 100%, 65%);
}

.time,
.disaplyed-value {
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
}

.error {
  color: hsl(0, 100%, 67%);
}

.error-msg {
  font-size: 10px;
  height: 10px;
}

.attribution {
  margin: 2em auto 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1200px) {
  .app-wrapper {
    padding: 3em 2em;
  }
  .inputs-wrapper {
    max-width: 350px;
  }
}
